
# Dolt database files (added by bd init)
.dolt/
*.db

# Gas Town (added by gt)
.runtime/
.claude/
.logs/
__pycache__/
state.json

# Xcode
xcuserdata/
*.xcscmblueprint
DerivedData/
*.moved-aside
*.xcuserstate
